* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    border-radius: 50%;
    border: 2px dashed rgba(68,149,254,1)
}

h1{
    font-size: 3rem;
}

h2, span, h3{
    background: linear-gradient(180deg, rgba(68,149,254,1) 0%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

h2{
    margin-bottom: 20px;
}


ul{
    list-style: none;
}

li{
    padding: 5px;
}

section{
    margin: 40px 0;
}

.about-me-img{
    background: #f7f7f7;
    margin: 0px auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.my-name{
    font-weight: bold;
    
    background: linear-gradient(180deg, rgba(68,149,254,1) 0%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-me, .my-skills, .contact-me{
    text-align: center;
}

.div, li{
    font-size: 1.2rem;
}

.divs{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.about-me-list{
    margin: 0px 40px;
}

@media screen and (max-width: 820px){
    .about-me-img{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 10px;
    }

    img{
        margin-bottom: 40px;
        max-width: 50%;
    }

    section{
        padding: 10px;
    }

    .divs{
        display: flex;
        flex-direction: column;
    }

    .about-me-list{
        margin-top: 40px;
    }
}
